body {
    background: black;
}

header {
    background: black;
    color: rgb(170, 79, 245);
    font-family: Helvetica;
    font-size: 75%;
}

.name {
    background: rgb(198, 129, 255);
    text-align: center;
    font-family: Helvetica;
    padding: 5%;
}

.age {
    background: black;
    color: rgb(198, 129, 255);
    text-align: center;
    font-family: Helvetica;
    font-size: 175%;
}